<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Clarke</h1>
    <main>
        <nav>
            <ul>
                <li><a href="/">Volver al inico</a></li>  
            </ul>
        </nav>
        <img src="/images/Joan-Clarke-2.jpg" alt="" width="680">
        <h4>Contexto</h4>
        <p>La II Guerra Mundial, aquella guerra tan atroz (como todas), no fue sólo una guerra de frentes, trincheras y bombas. También fue una guerra científica y tecnológica. En aquella época nacieron los primeros aviones y bombarderos con motores a reacción, los radares, los prototipos de los ordenadores actuales, la fisión nuclear, los avances en biología molecular… en definitiva, grandes descubrimientos que cambiaron la forma de hacer la guerra. Científicos de ambos bandos se enfrentaron en lucha encarnizada a contrarreloj en el cual, cada pequeño avance podía significar la victoria de uno u otro bando.</p>
        <p>En medio de aquella vorágine estaba LA máquina. ENIGMA. La máxima expresión de la capacidad científico-tecnológica de los nazis. La máquina de encriptado más impresionante hasta la época. La base de todas las comunicaciones nazis. Impenetrable. Indescifrable. ¿O no?</p>
        <p>No. Eso es lo que creía la élite de científicos británicos que trabajó duro para descifrar Enigma. Entre ellos se encontraba una mujer. Una matemática brillante. Una criptoanalista ejemplar. Joan Clarke, la criptóloga que ayudó a descifrar (el) Enigma.</p>
        <h3>Historia</h3>
        <p>Joan Clarke nació el 24 de junio de 1917 en West Norwood, Inglaterra. Estudiante brillante, ganó una beca para estudiar matemáticas en el Newnham College de Cambridge, donde consiguió el denominado Part I of the Mathematical Tripos (cursos de tres años que llevaban a conseguir una licenciatura) en 1936 acabando el trienio como una “Wrangler” (estudiante con honores). Aunque se sacó el Part II en 1939 y el Part III en 1940, nunca le dieron la tan merecida licenciatura en matemáticas debido a que la Universidad de Cambridge no concedió licenciaturas a mujeres hasta 1948.</p>
        <p>Aunque la universidad no le dio lo que tanto se merecía, uno de sus profesores, Gordon Welchman, se fijó el ella y en sus habilidades matemáticas y la fichó para trabajar en el “Government Code and Cypher School” (GCCS). Welchman era uno de los cuatro ilustres matemáticos reclutados en 1939 por el gobierno de Winston Churchill para actividades de decodificación y descifrado de la denominada máquina Enigma en Bletchley Park, una mansión victoriana de Buckingshamshire. Además de matemáticos, el gobierno británico también reclutó a jugadores de ajedrez, egiptólogos y demás profesionales que pudieran ayudar a descifrar el famoso código.</p>
        <p>Enigma era la una máquina única. Impenetrable. Indescifrable. Un equipo electromecánico inventado años atrás que los nazis mejoraron y utilizaron para codificar mensajes. Con billones de combinaciones. Con códigos que cambiaban a diario y que eran propios de cada cuerpo militar y civil. Eso hacía que el sistema de comunicación nazi fuera prácticamente infranqueable y por tanto, sus pasos, desconocidos por el enemigo. Y eso, en una guerra, era muy útil…</p>
        <p>Joan Clarke llegó a Bletchley Park el 17 de junio de 1940. Al principio fue asignada al denominado grupo de “The Girls” (“Las chicas”), un grupo de mujeres que se dedicaba a trabajos rutinarios de oficina, aunque pronto destacó y fue trasladada a trabajos de desencriptado. En aquella época la criptología era un mundo de hombres, y de hecho, sólo había dos mujeres criptoanalistas en toda la mansión. Joan poseía las cualidades que según Willian F. Friedman, padre de la criptología moderna, debía de tener un buen profesional; capacidad de racionamiento inductivo y deductivo, concentración, perseverancia e imaginación.</p>
        <img src="/images/joan_clarke1.jpg" alt="">
        <p>Eran tales sus habilidades que fue rápidamente fichada para el Hut 8, un grupo liderado por Alan Turing que utilizaba una nueva técnica de descifrado, el Banburismus, como base de decodificación. El objetivo del Hut 8 era el más ambicioso de todos; el descifrado del Enigma Naval (denominado Dolphin), el más complejo de todos los códigos Enigma. Gracias a su brillantez y perseverancia, el equipo de Clarke consiguió su objetivo: romper los códigos Enigma. Algunas estimaciones dicen que aquel descubrimiento redujo la duración de la guerra entre dos y cuatro años y que salvó miles de vidas. La labor de Joan Clarke en Bletchley Park fue reconocida en 1947, cuando la nombraron Miembro del Imperio Británico (MBE).</p>
        <p>Pero costó. El reconocimiento costó. Y es que esta historia de héroes y heroínas no fue tan maravillosa como parece. Joan fue discriminada durante años por ser mujer. Cobraba entre 2-3 libras a la semana, un salario bastante menor que el de sus compañeros de equipo. Además, sus posibilidades de promoción fueron bastante bajas (por no decir nulas) durante un largo tiempo. Como la figura de criptóloga no existía para la burocracia británica, la tuvieron que ascender a “lingüista” para poder cobrar un poco más. Y fue gracias a la insistencia de sus compañeros. La propia Joan decía que era gracioso rellenar cuestionarios donde tenía que escribir: “Grado: lingüista”; “Idioma: ninguno”. Con los años, las cosas cambiaron y llegó a ser responsable del Hut 8.</p>
        <p>Después de la guerra Clarke continuó trabajando en el GCCS (que cambió su nombre a Goverment Communication Headquarters, GCHQ), hasta su retiro en 1977, a los 60 años.</p>
        <p>Los últimos años de su vida se dedicó a la numismática, donde realizó interesantes investigaciones sobre monedas antiguas. Publicó varios trabajos sobre monedas escocesas del siglo XVI y XVII que la hicieron merecedora del Sanford Saltus God Medal de la British Numismatic Society, uno de los galardones más importantes del gremio.</p>
        <p>Joan Clarke murió el 4 de septiembre de 1996 en Headington, Inglaterra.</p>
        <p>Mujer brillante, parte de su trabajo es aún desconocido y sigue bajo secreto, por lo que seguimos sin saber exactamente cuál es la verdadera dimensión de sus logros… quien sabe si algún día lo conoceremos… esperemos que sí.</p>
        <a href="#">Volver arriba</a>
    </main>
    <footer>
        <section>
            <h4>Siguenos</h4>
            <nav>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-apple"></i></a>
                <a href=""><i class="fab fa-amazon"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </nav>
            <p>Copyright © 1999-2020</p>
        </section>

    </footer>
</body>
</html>