<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colaboraciones</title>
</head>
<body>
    <h1>¿Quieres colaborar?</h1>
    <p>Podrias ayudarnos a colaborar con un poco de conocimiento dandonos tu opinion sobre que nos falto. Bueno, ahora si, Hola cris. Esta parte fue extra solo para ver que tanto puedo hacer. ademas te pido disculpas por entregar tarde</p>
    <nav>
        <ul>
            <li><a href="/">Volver al inico</a></li>  
        </ul>
    </nav>
    <img src="/images/colaboraciones.jpg" alt="">
    <h2>Queria poner css pero me quede sin tiempo</h2>
    <h3>Y los commits, lo hice casi todo hoy</h3>
    
</body>
</html>