<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hamilton</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Hamilton</h1>
   <main>
    <nav>
        <ul>
            <li><a href="/">Volver al inico</a></li>  
        </ul>
    </nav>
    <img src="/images/hamilton.png" alt="">
    <h2>Historia</h2>
    Margaret Hamilton (1936) es una de las mentes más brillantes que ha trabajado en la NASA. Se desempeña como ingeniera en sistemas y científica computacional. Su inteligencia se destacó desde siempre, trabajaba como creadora de Softwares y tan perfectamente que le asignaron el trabajo más importante de su vida: crear el sistema operativo completo de la nave en la que el primer hombre pisaría la luna y lo logró de forma estupenda y sin errores. <br>
    <b>Su software hizo que el primer hombre llegara a la luna sin contratiempos</b>
    <p>La ingeniera se dedicó en cuerpo y alma a la realización de un Software que priorizara las labores más importantes y las completara en primer lugar, eliminando -o dejando en segundo plano- aquellas que no eran vitales para la operación.</p>
    <p>Esta jerarquización de actividades hizo que el sistema fuera todo un éxito, lograr que las actividades primordiales se realizaran primero, eliminaba enormemente los riesgos en la operatividad de la nave que se utilizaría en el Apollo 11.</p>
    <p>En sus propias palabras, lo explica así: «La acción del software fue la de eliminar tareas de prioridad baja y restablecerlas más importantes» de esta manera, se garantizaba la completa funcionalidad del sistema.</p>
    <h4>No todo fue color de rosa: «Cuando no hallábamos respuestas, debíamos inventarlas»</h4>
    <p>La creación de un Software era un misterio para la época, nadie lo consideraba un trabajo importante y según la misma Margaret, se burlaban de todos los que dedicaban su vida a la elaboración de estos sistemas.</p>
    <p>Era una ciencia nueva y nadie confiaba en que realmente tendría funcionalidad, por lo que Margaret decidió inventar el término: Ingeniería de Software, para que su trabajo fuera tomado en serio. Hamilton, contó en una entrevista a BBC todo lo que tuvo que pasar: «cuando se me ocurrió el término, nadie lo había oído. Por mucho tiempo fue motivo de bromas constantes. Para mí fue un día memorable cuando uno de los grandes gurúes del hardware dijo en una reunión que estaba de acuerdo conmigo, que crear software debería ser considerado un tipo de ingeniería«.</p>
    <p>Además de la incredulidad de los expertos y las constantes burlas, Margaret tuvo que afrontar un problema que iba mucho más allá de su trabajo: el sexismo. Era la única mujer que trabajaba en esa área de la NASA y debió trabajar duro para ser tomada en serio como directora de la misión.</p>
    <img src="/images/hamilton2.png" alt="">
    <p>Margaret tenía sobre sus hombros no solamente la vida de los astronautas, sino millones de dólares de la inversión en la extraordinaria misión. No había espacio para errores: «El software no sólo tenía que funcionar, debía hacerlo de entrada. No había tiempo para pensar en ninguna otra cosa que no fuera hacer el trabajo a la perfección y hacerlo en el plazo casi imposible que había fijado el presidente Kennedy para llegar a la Luna«.</p>
    <p>La presión sirvió de motivación y el trabajo de Hamilton y su equipo fue impecable y la misión se logró sin ningún contratiempo.</p>
    <h2>¡Se ganó la Medalla de la Libertad!</h2>
    <p>El ex presidente de los Estados Unidos, Barack Obama le otorgó a Margaret el mayor reconocimiento que se le puede dar a un civil: La Medalla de la Libertad. Obama en su discurso, insistió que sin su inteligencia la misión no se hubiera podido lograr y que forma parte de los héroes nacionales. Hamilton formó su propia empresa «Hamilton Technologies» en la que continúa trabajando.</p>
    <h3>Aquí tienes un video para recorda la misión Apollo 11</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PrSD8tpoSz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Sin el software aprueba de errores de Margaret Hamilton, nada hubiera sido posible.</h4>
    <a href="#">Volver arriba</a>

   </main>
   <footer>
    <section>
        <h4>Siguenos</h4>
        <nav>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </nav>
        <p>Copyright © 1999-2020</p>
    </section>

   </footer>
</body>
</html>