<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/Home.css">

    
</head>
<body>
    <h1>Wiki-Heroes</h1>
    
    <div class="intro">En este lugar, conoceras algunos heroes que han hecho grandes hazañas por las cuales se los reconoce como por lo que son y por la razon de porque estan en este lugar hermoso creado unica y exclusivamente para cada uno de ellos.</div>
    <div class="ty">Aventurece a explorar:</div>
    <nav>
        <ul>
            <li><a href="/babbage">Conoce a Babbage</a></li>
            <li><a href="/berners-lee">Conoce a Berners-Lee</a></li>
            <li><a href="clarke">Conoce a Clarke</a></li>
            <li><a href="hamilton">Conoce a  Hamilton</a></li>
            <li><a href="hopper">Conoce a Hopper</a></li>
            <li><a href="lovelace">Conoce a Lovelace</a></li>
            <li><a href="turing">Conoce a Turing</a></li>
        </ul>
    </nav>

    <p>Por si necesitas ayuda:</p>
    <nav>
        
        <li><a href="/ayuda">Hazme click, yo te ayudo</a></li>
        
    </nav>

    <p>¿Quieres ayudarnos?</p>
    <nav>
        
        <li><a href="/colaboraciones">Brindanos ayuda</a></li>
        
    </nav>

    <p>¿Quieres saber de nosotros? Aqui puedes hacelo:</p>
    <nav>
        <li><a href="/nosotros">Para conocer mas</a></li>
    </nav>
    
    
    
</body>
</html>