<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Augusta Ada King, Condesa de Lovelace</h1>
    <main>
        <nav>
            <ul>
                <li><a href="/">Volver al inico</a></li>  
            </ul>
        </nav>
        <h2>Historia</h2>
        <img src="/images/lovelace.jpeg" alt="">
        <p>El 10 de noviembre de 1815 nació la escritora inglesa que describió la máquina analítica de Charles Babbage: Augusta Ada King, Condesa de Lovelace. Hija del poeta Romántico Lord Byron y Anne Isabella Milbanke, Baronesa de Wentworth (también conocida como Lady Byron).</p>
        <p>Sus padres se separaron al mes de su nacimiento, de hecho nunca tuvo relación alguna con su padre que abandonó Inglaterra en 1816 con la finalidad de escapar de la censura de la sociedad Británica que le acusaba de sodomía e incesto debido a sus continuos escándalos sexuales. Lord Byron murió en Grecia en 1823 sin conocer a su hija.</p>
        <p>Su madre, Lady Byron, estaba obsesionada con que su hija no heredara nada de su padre por lo que educó a Ada profundamente en las matemáticas y la música intentando de esa manera alimentar su parte racional y objetiva para alejarla de la subjetividad.</p>

        <h3>Juventud y formación</h3>
        <p>A los 17 años, el cinco de junio de 1833, Ada conoció a Mary Somerville una conocida autora y científica que le presentó a Charles Babbage (profesor Lucasiano de matemáticas en la Universidad de Cambridge y reconocido como el padre de las computadoras). Charles Baggage quedó tan impresionado con la capacidad analítica de la joven que la apodó como "La encantadora de números".</p>
        <h3>Matrimonio y título nobiliario</h3>
        <p>En 1835, Ada se casó con William King de 29 años de edad, así que cuando King heredó el título nobiliario de Conde de Lovelace en 1938, Ada se convirtió en Condesa de Lovelace. Tuvo tres hijos en su matrimonio con King.</p>
        <img src="/images/lovelace2.jpeg" alt="">
        <h3>La máquina analítica(la parte de lovelace)</h3>
        <p>En 1834, Babbage tenía planes para la construcción de un nuevo tipo de máquina de cálculo, una máquina analítica de carácter general. La máquina analítica es el diseño de una computadora moderna que representó un importante paso en la historia de la computación.</p>
        <p>El matemático italiano Louis Menebrea publicó en 1842 una memoria en francés sobre la Máquina Analítica; por lo que Babbage preparó a Ada como la traductora de la memoria al inglés, trabajo que realizó durante nueve meses entre 1842 y 1843; pero la condesa de Lovelace no solo tradujo el artículo sino que le añadió un conjunto de notas propias y son estas notas la fuente de su fama como la primer programadora de la historia.</p>
        <p>La Condesa de Lovelace fue la primera persona en el mundo en describir un lenguaje de programación de carácter general al interpretar las ideas de Babbage incluso mejor que él. En 1843 publicó una serie de notas sobre la máquina analítica de Babbage que firmó solo con sus iniciales por miedo a ser censurada por su condición de mujer.</p>
        <p>Describió conceptos como el bucle y la subrutina. Solía definirse a sí misma como analista y metafísica algo bastante avanzado para el pensamiento de sus primitivos congéneres.</p>
        <p>Además describió el algoritmo necesario para calcular los valores de los números de Bernoulli utilizando dos bucles, demostrando las capacidades de bifurcación de la máquina analítica. Asimismo describió como realizar operaciones trigonométricas que hacían uso de variables también en la máquina analítica de Babbage. También definió el uso de tarjetas perforadas para programar la máquina de Babbage.</p>
        <h3>Muerte</h3>
        <p>Lady Ada Lovelace murió el 27 de noviembre de 1852 a la edad de 37 años por las sangrías producidas por los médicos de la época en su intento de curar un cáncer de útero que la consumía. Fue enterrada por petición propia junto a su padre, en la Iglesia de Santa María Magdalena en Hucknall, Nottingham.</p>
        <a href="#">Volver arriba</a>

    </main>
    <footer>
        <section>
            <h4>Siguenos</h4>
            <nav>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-apple"></i></a>
                <a href=""><i class="fab fa-amazon"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </nav>
            <p>Copyright © 1999-2020</p>
        </section>
    </footer>
</body>
</html>